*{
    margin: 0px;
    padding : 0px;
}
/* body{
    overflow: hidden;
} */

nav{
    position: fixed;
    top: 0;
    /* height: 5vh; */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #7120bb;
    height: 55px;
    z-index: 1;
    /* overflow: hidden; */

}
.content{
    font-family: "Potta One", system-ui;
}
.contains{
    display: flex;
    /* top: 3vh; */
    margin: 55px auto;
    padding: 34px 23px;
    background-color: white;
    /* border: 24px solid black; */


}
.contains .container-1 .title-01{
    /* position: fixed;
    /* top: ; */
    /* margin: 34px; */
    /* height: 34px;
    width: 20vw;  */
    font-family: "Potta One", system-ui;
    background-color: #7120bb;
    color: white;
    padding: 5px 23px;
    margin: 5px auto;
    /* font-size: 24px; */

}
.title{
    border-bottom: 2px solid;
    cursor: pointer;

}

.container-1{
    position: fixed;
    width: 20vw;
    top: 0;
    margin: 10vh auto;
    margin-left: 12px !important;
    padding: 34px 23px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    flex-direction: column;
    /* background-color: red; */
    /* border: 5px solid black; */
    height: 100vh;
    /* position: sticky; */
    overflow: hidden;
    overflow-y: scroll;
}

.container-1 ol li{
    list-style: none;
    height: auto;
    /* background-color: blue; */
    border-bottom: 1px solid rgb(0, 0, 0);
    margin: 6px auto;
    padding: 9px 9px;
    color: rgb(0, 0, 0);
    overflow-wrap: break-word;
    cursor: pointer;
    /* flex-direction: row; */


}

.container-2{
    /* background-color: green; */
    width: 70vw;
    /* margin-top: 34px; */
    margin-left: 27vw;
    padding: 34px 23px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    overflow-y: scroll;


}
.logo{

    padding: 0px 23px;


}
.logo img{
    width: 25px;
}

.code-toolbar .toolbar .toolbar-items button{
    cursor: pointer !important;
    color: white !important;
    border: 2px solid white !important;
    border-radius: 5px !important;


}

/* utility class */
.overflow-hidde{
    overflow: hidden;
}
.font-sm{
    font-size: 18px ;
}
.font-lg{
    font-size: 24px ;
}
.p-12{
    padding: 12px;
}
.overflow-wrap{
    overflow-wrap: break-word;
}
.scrollable {
    overflow-y: scroll;

}
.h-auto{
    height: auto;
}
.h-fix{
    height: 70vh;
}
.h-100{
    height: 100vh;
}
.h-50{
    height: 50vh;
}